{% extends "base.html" %}
{% block content %}
  	<section class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_1.jpg');" id="home">
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
          	<p class="d-flex align-items-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
							<a href="/static/videos/videotest.mp4" class="icon-video popup-vimeo d-flex justify-content-center align-items-center mr-3">
    						<span class="ion-ios-play play mr-2"></span>
    						<span class="watch text-dark">Video de Presentation</span>
    					</a>
						</p>
            <h1 class="mb-4 text-success" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Seul on avance mais a plusieur on avance plus vite</h1>
          </div>
        </div>
      </div>
    </section>
		
	<section class="ftco-section ftco-services ftco-no-pt">
      <div class="container">
        <div class="row services-section">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-layers"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3"> Histoire </h3>
                <p>Il est créé le 26 août 2018 à Lomé (quartier Atikpa), entre les Filles et Fils de GAPE WONOUGBA,
                adhérents aux présents statuts, une association de solidarité et de soutiens mutuels, à but non lucratif,
                régie par la loi du 1 er juillet 1901.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-compass-symbol"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Buts</h3>
                <p>
                  Apporter des appuis à ses membres en cas d’événements malheureux ;
                de soutenir les actions de développement initiées par le village de Wonougba ;
                de mener des activités à caractère récréatif ou social pour l’épanouissement socio-culturel de
                ses membres.
                Aux termes des présents statuts, les événements malheureux désignent : le décès d’un membre ou la
                perte d’un membre de sa famille, les situations de maladie, les cas d’invalidité dus à un accident ou à
                une maladie.
                  </p>
                <!--p><a href="atout/" class="btn btn-primary">Read more</a></p-->
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-layers"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Vision</h3>
                <p>L’AS2FW a pour objet de contribuer à l’épanouissement socio-culturel de ses membres à travers des
actions de solidarité et de soutiens mutuels. Elle vise également à soutenir toute action de
développement du village de Wonougba./p>
                <!--p><a href="vision/" class="btn btn-primary">Read more</a></p-->
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-4 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(/static/images/about.jpg);"></div>
    			</div>
    			<div class="col-md-6 col-lg-8 pl-lg-5 py-5">
    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate">
			          	<span class="subheading">A propos de nous </span>
			            <h2 class="mb-4">Debuter le 26 Août 2018 à 14 heures 30 min</h2>
			            <p>Vu les besoins récurrents exprimés par les Filles et Fils de Wonougba de se retrouver au sein d’un cadre
de réflexion pour leur bien-être socio-culturel ;<br>
Vu les difficultés qu’éprouvent les Filles et Fils de Wounougba pour se soutenir mutuellement en cas
d’événements heureux et malheureux ;<br>
Vu l’absence de cadre de réflexion pour les Filles et Fils de Wonougba sur les sujets engageant le
développement de leur village (Wonougba) ;<br>
Vu les valeurs d'unité, de solidarité, d'entraide et de soutiens mutuels qui favorisent une vie
harmonieuse des Filles et Fils de Wonougba ;
Vu la nécessité de se mettre ensemble ;<br>
Les Filles et Fils de Wonougba, réunis en Assemblée Générale le 26 Août 2018 à 14 heures 30 min à
Lomé dans l’enceinte de l’Ecole Primaire Publique d’Atikpa, décident de la création d’une Association
régie par la loi N° 40 - 484 du 1er Juillet 1901 en vue de contribuer à leur épanouissement socio-culturel
à travers des actions de solidarité et de soutiens mutuels et de soutenir toute action de développement
de leur village (Wonougba)<br>.</p>
			          </div>
		        	</div>
		    		<div class="row">
			          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
			            <div class="block-18 text-center p-4 mb-4 align-self-stretch d-flex">
			              <div class="text">
			                <strong class="number" data-number="{{about.experience_year }}">0</strong>
			                <span>d'anne d'experience</span>
			              </div>
			            </div>
			          </div>
			          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
			            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
			              <div class="text">
			                <strong class="number" data-number="{{about.project_finish }}">0</strong>
			                <span>Project realises</span>
			              </div>
			            </div>
			          </div>
			          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
			            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
			              <div class="text">
			                <strong class="number" data-number="{{about.project_appending}}">0</strong>
			                <span>projets en cours</span>
			              </div>
			            </div>
			          </div>
			          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
			            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
			              <div class="text">
			                <strong class="number" data-number="{{about.project_not_start}}">0</strong>
			                <span>projet non debuder</span>
			              </div>
			            </div>
			          </div>
			        </div>
		        </div>
	        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-project bg-light" id="galerie">
    	<div class="container-fluid px-md-5">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Galerie</h2>
            <p>toutes nos photos</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 testimonial">
            <div class="carousel-project owl-carousel">
              {%for tof in photo%}
            	<div class="item">
            		<div class="project">
		    					<div class="img">
				    				<img src="/static/images/project-1.jpg" class="img-fluid" alt="Colorlib Template">
				    				<a href="/static/images/project-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
				    					<span class="icon-expand"></span>
				    				</a>
			    				</div>
			    				<div class="text px-4">
			    					<h3><a href="#">{{tof.title}}</a></h3>
			    				</div>
		    				</div>
            	</div>
              {%endfor%}
    		</div>
    	</div>
    </section>

    <section class="testimony-section" id="projet">
      <div class="container">
      	<div class="row no-gutters justify-content-center pb-5">
          		<div class="col-md-12 heading-section text-center ftco-animate">
          			<span class="subheading">Nos projets</span>
		            <h2 class="mb-4">Les projet en cours</h2>
		            <h4>les pojets que nous réalisons actuellement </h4>
		         </div>
		        </div>
		        <div class="col-md-6 col-lg-3 ftco-animate">
				</div>
			</div>
      <div class="row ftco-animate justify-content-center">
        <div class="col-md-12 d-flex align-items-center">
        		<div class="carousel-testimony owl-carousel">
              {%for proje in projet%}
	        		<div class="item">
	        			<div class="testimony-wrap d-flex align-items-stretch">
		              <div class="user-img d-flex align-self-stretch" style="background-image: url(/static/images/testimony-1.jpg)">  
                  </div>
		              <div class="text d-flex align-items-center">
		              	<div>
			              	<div class="icon-quote">
			              		<span class="icon-quote-left">{{proje.title}}</span>
			              	</div>
			                <p class="mb-4">{{proje.description}}</p>
			                <p class="name">Auteur du projet : {{proje.autor}} </p>
		                </div>
		              </div>
		            </div>
	        		</div>
              {%endfor%}
	        	</div>
        	</div>
        </div>
      </div>
    </section>
    <section class="ftco-section contact-section ftco-no-pb" id="contact">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Contact</span>
            <h2 class="mb-4">Contactez nous</h2>
            <p>vous pouvez nous contcter sur les moyens suivants</p>
          </div>
          <div class="row d-flex contact-info">
          <div class="col-md-6 col-lg-3 d-flex">
            <div class="align-self-stretch box p-4 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="icon-map-signs"></span>
              </div>
              <h3 class="mb-4">Address</h3>
              <p>Avédzi Wessome, S/c B.P. 386 Lomé-Togo</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
            <div class="align-self-stretch box p-4 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="icon-phone2"></span>
              </div>
              <h3 class="mb-4">Contact Number</h3>
              <p><a href="tel://1234567920">(+228)92 48 04 37 / 90 95 65 94</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
            <div class="align-self-stretch box p-4 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="icon-paper-plane"></span>
              </div>
              <h3 class="mb-4">Email Address</h3>
              <p><a href="mailto:koledziabel@gmail.com">koledziabel@gmail.com</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
            <div class="align-self-stretch box p-4 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="icon-globe"></span>
              </div>
              <h3 class="mb-4">Website</h3>
              <p><a href="http://127.0.0.1:8000/">AS2FW.com</a></p>
            </div>
          </div>
      </div>
        </div>
      </div>
      
    </section>
{% endblock %}