{% extends "base1.html" %}
{% block link %}
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
<link rel="stylesheet" href="css/jquery.timepicker.css">
{% endblock %}


{% block content %}
  <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-3 bread">S'inscrir dans le groupe AS2FW</h1>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 order-lg-last ftco-animate">
          <div class="tag-widget post-tag-container mb-5 mt-5">
          <p><h2>TITRE II : TYPES DE MEMBRES ET CONDITIONS D’ADHESION</h2>
          <h3 id="a7">Article 7 : Types de membres</h3>
          <p>L’AS2FW comprend deux (02) types de membres :
            <ul>
            <li>
              - les membres fondateurs : ce sont les membres présents lors de l’Assemblée Générale
              Constitutive de l’AS2FW le 26 août 2018. En dehors du droit d’adhésion pour lequel ils sont
              exemptés, les membres fondateurs ne bénéficient d’aucun droit ou prérogative particulier.
            </li>
            <li>
              - les membres adhérents : ce sont les membres qui adhèrent à l’AS2FW après l’Assemblée
              Générale Constitutive du 26 août 2018.
              Les membres fondateurs et les membres adhérents à jour de leurs cotisations et qui participent aux
              différentes actions initiées par l’AS2FW sont appelés membres actifs.
            </li>
          </ul>
            <h3 id="a8">Article 8 : Conditions d’adhésion</h3>
          <p>L’adhésion à l’AS2FW se fait à titre individuel et volontaire selon les conditions ci-après :
            <ul>
            <li>
              - être un natif de Wonougba ou avoir vécu ou résidé à Wonougba pendant au moins trois ans ou
              être originaire d’un village environnant de Wonougba ;

            </li>
            <li>
              - avoir été introduit par un parrain, membre actif de l’AS2FW ;
            </li>
            <li>- avoir introduit une demande manuscrite adressée au Président du Bureau Exécutif ;</li>
            <li>- fournir deux (02) photos d’identité ;</li>
            <li>- accepter d’être mis en observation pendant trois (03) mois ;</li>
            <li>- s’acquitter de ses droits d’adhésion s’élevant à 2 000 F CFA après acceptation du dossier.
              Les Filles et Fils de Wonougba à l’étranger peuvent adhérer à l’AS2FW dans les mêmes conditions par
              l’intermédiaire d’un membre actif. Ce dernier le représente, veuille à ce qu’il soit à jour de ses
              cotisations de membres, mais ne peut participer en son nom aux votes et prises de décision, de même
              3que la jouissance en son nom, des appuis de l’AS2FW à ses membres en cas d’évènements malheureux
              et heureux, que sur la base d’un mandat ou à défaut d’une procuration.</li>
          </ul>
            <h3 id="a9">Article 9 : Perte de qualité de membre</h3>
          <p>La qualité de membre se perd dans les situations suivantes : décès, démission, refus de paiement de
            cotisation de membre et exclusion pour faute grave.
            <ul>
            <li>
              <h4>9.1. Exclusion</h4>
              L’exclusion est la mise à l’écart ou le retrait définitif d’un membre de l’AS2FW. Elle est prononcée en cas
              de faute grave ou suspensions répétées par l’Assemblée Générale sur proposition du Bureau Exécutif.
              L’exclusion est prononcée dès la troisième suspension.
              La réintégration d’un membre exclu ne peut se faire que sur décision de l’Assemblée Générale.
              On entend par faute grave, toute faute ayant causé de préjudices d’ordre financier ou moral à l’AS2FW.
              Tout membre exclu ne peut prétendre aux différents appuis apportés par l’AS2FW à ses membres,
              encore moins en qualité d’ayant droit d’un autre membre.
            </li>
            <li>
              <h4>9.2. Démission</h4>
              Tout membre est libre de démissionner après en avoir informé, par lettre écrite, le Président du Bureau
              Exécutif. L’Assemblée Générale en est informée à sa prochaine session.
              Tout membre démissionnaire ne peut prétendre aux différents appuis apportés par l’AS2FW à ses
              membres, encore moins en qualité d’ayant droit d’un autre membre.
            </li>
            <li>
              <h4>9.3. Décès</h4>
              Le décès d’un membre entraîne de facto la perte de la qualité de membre de l’AS2FW et du bénéfice
              des appuis apportés par l’AS2FW à ses membres.
              Toutefois, les ayants droit peuvent bénéficier de l’appui direct dû au membre décédé (article 6).
            </li>
            <li>
              <h4>9.4. Refus de paiement de cotisation de membre</h4>
              Tout membre qui refuse de payer ses cotisations de membre pour une durée de six mois perd sa qualité
              de membre actif et ne peut prétendre aux différents appuis apportés par l’AS2FW à ses membres,
              encore moins en qualité d’ayant droit d’un autre membre.
            </li>
          </ul>
            <h3 id="a10">Article 10 : Droit d’adhésion</h3>
            <p>Le droit d’adhésion à l’AS2FW est de deux mille francs (2000) F CFA payable une seule fois lors de
              l’introduction du dossier de demande d’adhésion à l’AS2FW.
              Toutefois, l’Assemblée Générale peut modifier le droit d’adhésion lorsqu’elle l’estime nécessaire
            </p>
          </div>
        </div> <!-- .col-md-8 -->
        <div class="col-lg-4 sidebar ftco-animate">
          <div class="sidebar-box">
            <form action="#" class="search-form">
              <div class="form-group">
              </div>
            </form>
          </div>
          <div class="sidebar-box ftco-animate">
          	<h3 class="heading-sidebar">Article</h3>
            <ul class="categories">
              <li><a href="#a7"> Article 7 : Types de membres</a></li>
              <li><a href="#a8">Article 8 : Conditions d’adhésion</a></li>
              <li><a href="#a9">Article 9 : Perte de qualité de membre</a></li>
              <li><a href="#a10">Article 10 : Droit d’adhésion</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> <!-- .section -->
{% endblock %}